#latest-news, #other-news {
  margin-top: 20px;
}

#latest-news:hover {
  background-image: linear-gradient(45deg, rgb(255, 150, 200), rgb(165, 255, 255));
}
  
#latest-news h2, #other-news h2 {
  font-size: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
}
    
#latest-news img {
  display: block;
  width: 100%;
  margin: 15px auto;
  padding: auto;
  border-radius: 20px;
}
    
#latest-news p {
  margin-bottom: 10px;
  padding-left: 10px;
}
  
#other-news a {
  padding: 10px;
}
  
#latest-news {
  background-color: rgb(240, 240, 240);
  padding: 0 20px;
  border: 1px solid #ccc;
  transition: background-color 0.3s;
  border-radius: 20px;
}

.news-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  transition: background-color 0.3s;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
}
  
.news-item:hover {
  background-image: linear-gradient(45deg, rgb(255, 150, 200), rgb(165, 255, 255));
}
  
.news-item img {
  width: 150px;
  height: auto;
  margin-right: 10px;
  border-radius: 10px;
}
  
.news-content {
  flex-grow: 1;
}
  
.news-content h3 {
  margin: 0;
}
  
.news-content p {
  margin-top: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus {
  outline: none;
}