#current-video, #other-videos {
  margin-top: 20px;
}

#current-video:hover {
  background-image: linear-gradient(45deg, rgb(255, 150, 200), rgb(165, 255, 255));
}
  
#other-videos h2 {
  margin-bottom: 10px;
  padding-left: 10px;
}
    
#current-video h2 {
  margin: 10px 10px;
}

#current-video img {
  display: block;
  width: 100%;
  margin: 15px auto;
  padding: auto;
  border-radius: 20px;
}
    
#current-video p {
  margin: 10px;
}
  
#other-videos a {
  padding: 10px;
}
  
#current-video {
  background-color: rgb(240, 240, 240);
  padding: 0 20px;
  border: 1px solid #ccc;
  transition: background-color 0.3s;
  border-radius: 20px;
}

.video-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  transition: background-color 0.3s;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
}
  
.video-item:hover {
  background-image: linear-gradient(45deg, rgb(255, 150, 200), rgb(165, 255, 255));
  cursor: pointer;
}
  
.video-item img {
  width: 150px;
  height: auto;
  margin-right: 10px;
  border-radius: 10px;
}
  
.video-content {
  flex-grow: 1;
}
  
.video-content h3 {
  margin: 0;
}
  
.video-content p {
  margin-top: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus {
  outline: none;
}

#video {
  width: 100%;
  height: 500px;
  outline: none;
  border-radius: 10px;
  margin-bottom: 10px;
}