.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
    
  #latest-news, #other-news {
    margin-top: 20px;
  }
    
  #latest-news h2, #other-news h2 {
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
  }

#latest-news h2 {
  color: #77B5FE;
}

  #latest-news h3 {
    font-size: 18px;
  }
    
  #latest-news img {
    width: 1000px;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
    
  #latest-news p {
    margin-bottom: 10px;
    padding-left: 10px;
  }
    
  #other-news a {
    padding: 10px;
  }
    
  #latest-news {
    border: 1px solid #ccc;
    transition: background-color 0.3s;
  }
  
  #latest-news:hover {
    background-color: #f0f0f0;
  }
  
  .news-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    transition: background-color 0.3s;
  }
    
  .news-item:hover {
    background-color: #f0f0f0;
  }
    
  .news-item img {
    width: 150px;
    height: auto;
    margin-right: 10px;
  }
    
  .news-content {
    flex-grow: 1;
  }
    
  .news-content h3 {
    margin-top: 0;
    color: #77B5FE;
  }
    
  .news-content p {
    margin-bottom: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover, a:focus {
    outline: none;
  }