.event-item {
    width: 70%;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 0;
}

.event-title,
.event-date {
    padding: 0;
    margin: 10px;
}

#events-page button {
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}
