#content {
    width: 100%;
    position: flex;
    text-align: center;
}

#info {
    /* position: absolute;
    right: 0;
    top: 2.5rem; */
    /* width: fit-content; */
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /* background-color: aliceblue; */
}

#info h3 {
    padding: 0;
    margin: 0;
    font-size: 1.25rem;
}