#header {
    height: 8dvh;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-align: center;
    align-items: center;
    background-color: var(--navBar-background-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#title {
    width: 100%;
    font-size: 2rem;
}

.content {
    display: none;
    height: 84dvh;
    width: 100%;
    overflow-y: scroll;
    text-align: center;
    transition: ease-in-out 0.35s;
}

.content.show {
    display: block;
}

#navBar {
    height: 8dvh;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
    align-items: center;
    background-color: var(--navBar-background-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.material-symbols-outlined {
    font-size: 2.0rem;
    color: var(--navBar-icon-color);
    padding: 1rem;
    width: 20%;
    transition: ease 0.35s;
}

.material-symbols-outlined.selected {
    border-bottom: 4px solid var(--navBar-selected-icon-color);
    margin-bottom: 8px;
}

.material-symbols-outlined.mid {
    font-size: 3rem;
    border: 1p solid black;
    border-radius: 50%;
    transform: translateY(-35%);
    background-color: var(--navBar-selected-icon-background-color);
}