#wishlist-page .btn-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

#wishlist-page .tab-btn {
    padding: 5px; 
    font-size: 1.4rem;
    border-radius: 50px;
    background-color: white;
    border: none;
    font-family: 'Dancing Script', cursive;
    transition: ease 0.8s;
}

#wishlist-page .tab-btn.selected {
    background-color: #ddd;
    border: 1px solid black;
}

#food-list,
#place-list,
#activity-list {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

#food-list p,
#place-list p,
#activity-list p {
    padding: 0;
    margin: 0;
    font-size: 1.25rem;
}

#searchInput {
    padding: 10px;
    margin: 10px;
    max-width: 400px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

#wishlist-page .overlay {
    width: 100vw;
    height: 84dvh;
    position: fixed;
    top: 8dvh;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#wishlist-page #pop-up {
    display: none;
    height: 84dvh;
    width: 100%;
    position: fixed;
    top: 8dvh;
    left: 0;
    z-index: 10px;
}

#wishlist-page #wishlist-form {
    max-width: 400px;
    width: 80%;
    padding: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: none;
    border-radius: 10px;
}

#wishlist-page label {
    display: block;
    margin-bottom: 8px;
}

#wishlist-page form input, 
#wishlist-page form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

#wishlist-page button {
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}
