body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(0deg, rgb(0, 76, 153),rgb(167, 0, 66));
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

header div {
  width: 20%;
}

header div h1, header div h2 {
  color: rgb(255, 238, 0);
}

header div h1 {
  margin: 0px 20px;
  text-align: right;
}

header div h2 {
  margin: 0px 20px;
  text-align: right;
}

header nav {
  width: 60%;
  margin: 0 5%;
  padding: 10px;
  background-color: rgb(237, 188, 0);
  border-radius: 50px;
  text-align: center;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

header nav ul li {
  margin: 0 10px;
  padding: 5px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a {
  text-decoration: none;
  color: black;
}

.selected {
  background-color: black;
  border-radius: 50px;
  
}

.selected a {
  color: white
}

main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

h1, h2, h3 {
  background-image: linear-gradient(90deg, #cd122d, #154284);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h1 {
  font-size: 32px;
}
  
h2 {
  font-size: 24px;
}
  
h3 {
  font-size: 20px;
}
  
p {
  font-size: 17px;
  color: #000;
  text-align: justify;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
}

#container {
  margin: 30px 0px;
  padding: 0 20px;
}

.tab {
  background-color: rgb(240, 240, 240);
  border: 1px solid #ccc;
  transition: background-color 0.3s;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px; 
}

.tab:hover {
  cursor: pointer;
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.active .tab-content {
  max-height: 500px;
}
 
.tab > h2 {
  padding: 15px;
  margin: 0px;
}

.team-member {
  display: inline-block;
  margin: 10px;
  text-align: center;
  justify-content: center;
}
img {
  width: 50%;
}