.team-members {
  margin-top: 40px;
}

.team-member {
  display: inline-block;
  width: 200px;
  margin: 10px;
}

.guide {
  margin-top: 40px;
}

.guide-item {
  margin-bottom: 10px;
  text-align: left;
}

.get-started-button {
  margin-top: 40px;
}

.get-started-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.container {
  text-align: center;
}

a {
  font-size: 17px;
}

p {
  text-align: justify;
}


.team-member {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 10px;
}

.team-member img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.team-member h3 {
  margin-top: 10px;
}

.team-member p {
  color: #888;
}



