 #latest-news h2, #other-news h2 {
  margin-bottom: 10px;
  padding-left: 10px;
}

#latest-news h2, #latest-news p {
  padding-left: 20px;
}

#latest-news img {
  display: block;
  max-width: 800px;
  width: 800px;
  height: auto;
  margin: 15px auto;
  padding: auto;
  border-radius: 10px;
}
  
#other-news a {
  padding: 10px;
}
  
#latest-news {
  margin: 10px 10px;
  border: 1px solid #ccc;
  transition: background-color 0.3s;
  border-radius: 20px;
  background-color: rgb(240, 240, 240);;
}

#latest-news:hover {
  background-color: rgb(200, 200, 200);
}

.news-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px 50px;
  border: 1px solid #ccc;
  transition: background-color 0.3s;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
}
  
.news-item:hover {
  background-color: rgb(200, 200, 200);
}
  
.news-item img {
  width: 150px;
  height: auto;
  margin-right: 10px;
  border-radius: 10px;
}
  
.news-content {
  flex-grow: 1;
}
  
.news-content h3 {
  margin-top: 0;
}
  
.news-content p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus {
  outline: none;
}