main {
    padding: 20px;
}

h2 {
    padding: 0 10px;
    font-size: 32px;
	font-weight: bold;
	color: #ff7f50;
	margin-bottom: 20px;
}

h3 {
    font-size: 24px;
	font-weight: bold;
	color: #ffa500;
	margin-top: 30px;
	margin-bottom: 10px;
    padding: 0 20px;
}

p {
    font-size: 16px;
	line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
    padding: 0 30px;
    margin-bottom: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
